@import "tailwindcss";

/* Removes arrows in Chrome, Edge, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}


body{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #f3f4f6; Tailwind's gray-100 */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}